<!DOCTYPE html>
<html ng-app="todolist">
<head>
  <title>To-do List</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js"></script>
  <%#= stylesheet_link_tag "mdl" %>

</head>
<body ng-controller="taskListController">

<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">

      <span class="mdl-layout-title">To-do List</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">All tasks</a>
        <a class="mdl-navigation__link" href="">Your tasks</a>
        <a class="mdl-navigation__link" href="">Fineshed tasks</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">To-do List</span>
    <nav class="mdl-navigation">      
      <a class="mdl-navigation__link" href=""><i class="material-icons">format_list_bulleted</i> Your List</a>
      <a class="mdl-navigation__link" href=""><i class="material-icons">settings</i> Settings</a>
      <a class="mdl-navigation__link" href=""><i class="material-icons">arrow_back</i> Logout</a>
    </nav>
  </div>
  <div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button">
    <i class="material-icons">format_list_bulleted</i>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">

      <div class="task-list">

      	<!-- ADD SECTION -->
        <div class="add-task" ng-init="getAll()">
          <form>
            <div class="add-task-1">          
              <!-- Simple Textfield -->
              <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text" id="sample1">
                  <label class="mdl-textfield__label" for="sample1">Description...</label>      
              </div>
            </div>

            <div class="add-task-2">       
              <i class="material-icons attach-position">attach_file</i>
              <button class="btn-add-task mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">add</i>                
              </button>              
            </div>
          </form>
        </div> 

        <!-- TASKS -->

      </div>

    </div>
  </main>
</div>
</body>
</html>